@media screen and (max-width: 1015px) {

    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100px;
        font-size: 10px;
    }
}